<footer>
    <div class="container-fluid footer-wrapper">
      <div class="row footer-content">
        <div class="col-sm-6 footer-left">
        </div>
        <div class="col-sm-6 footer-right">
          <div class="">
            <ul class="footer-list">
              <li class="footer-item"><%= link_to "ホーム", root_path, class: "footer-item" %></li>
              <li class="footer-item">当サイトについて</li>
          </div>
        </div>
        <p class="copyright">©mizuki-saito.</p>
      </div>
    </div>
</footer>