<footer>
  <div class="footer-top">
    <div class="footer-content clearfix">
      <%= link_to "home", root_path, class: "footer-item" %>
      <%= link_to "about", about_path, class: "footer-item" %>
    </div>
  </div>
  <div class="footer-bottom footer-content">
    <div class="footerimg"></div>
    <p class="copyright">©mizuki-saito.</p>
  </div>

</footer>