<%= render 'shared/header', search: @search %>
<div class="img-area">
	<div class="about-img"></div>
	<div class="about-text">
		<h1 class="h1 about-h1">保活（保育園探し）をちょっと楽にするためのサイト</h1>
		<h1 class="h1 about-h1-2">『With You』</h1>
	</div>
</div>

<div class="body-content">
	<div class="container-fluid">
    	<div class="row">
			<div class="about-box"><p class="about-box-p h3">1.保育園の位置をマップで確認</p><div class="about-img1"></div></div>
			<div class="about-box"><p class="about-box-p h3">2.自宅からの距離と移動時間(徒歩)を表示</p><div class="about-img2"></div></div>
			<div class="about-box"><p class="about-box-p h3">3.気になる保育園をマイリストに登録</p><div class="about-img3"></div></div>
			<div class="about-box"><p class="about-box-p h3">4.並び順を変更できます。</p><div class="about-img4"></div></div>
			<div class="about-box"><p class="about-box-p h3">5.登録した保育園には、メモを書くことができます。</p><div class="about-img5"></div></div>
			<div class="about-box"><p class="about-box-p h3">6.自宅以外の位置情報「スポット」を登録</p><div class="about-img6"></div></div>
			<div class="about-box"><p class="about-box-p h3">7.登録したスポットとの位置関係を確認</p><div class="about-img7"></div></div>
		</div>

	</div>
</div>