<%= render 'shared/header', search: @search %>
<div class="body-content">
	<h1>『WithYou』は、保活(保育園探し)をちょっと楽にするためのサイトです。</h1>
	<p>保育園の位置をマップで確認</p>
	<p>自宅からの距離と移動時間(徒歩)を表示</p>
	<p>気になる保育園をマイリストに登録</p>
	<p>登録した保育園には、メモを書くことができます。</p>
	<p>優先順位や見学の順番等が分かりやすいように、並び順を変更できます。</p>
	<p>自宅以外の位置情報「スポット」を登録</p>
	<p>勤務先や祖父母の家、行き帰りに寄りたいスーパー等との位置関係を確認できます。</p>
	<p></p>
	<p></p>
	<p></p>
	<div>
		
	</div>

</div>