<div class="body-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-8 head-box">
        <div class="f type-box">
          <p class="h3 type">認証</p>
        </div>
        <div class="f head">
          <a class="s" href="http://www.popinzu.jp/nursery/toyosu.html">
            <div class="hukidasi">外部サイトに移動します</div>
            <h1 class="h1"><%= @nursery.name %></h1>
          </a>
          <p class="head-p">　最寄り駅：東京メトロ有楽町線「豊洲」、JR京葉線「越中島」</p>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="addlist-box">
          <div class="addlist">
            <a class="addlist-a addlist-icon fas fa-heart" href=""><span class="h3">マイリストに追加</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 main-content">
        <div class="main-img"></div>　<!-- 保育園の写真　メイン -->
        <div class="concept-box">
          <h2 class="h2">自分で考え、挑戦し、生きる力を身につける。（保育理念、コンセプト、キャッチフレーズ）</h2>
          <p class="concept-detail">メリー★ポピンズは、こどもたちを預かるだけの保育園ではありません。
          「にんげん力」を育てるために、必要なあそびや野外体験を提案・実践し、「自分で考え。挑戦する勇気」をはぐくみます。</p>
        </div>
        <div class="tag-box">
          <p>土日あり</p>
          <p>延長・夜間あり</p>
          <p>夕食あり</p>
        </div>
        <div class="map-area-s">
          <div id="map" style="width: 800px; height: 400px;"></div>

          <script>
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          </script>
        </div>
      </div>

      <div class="col-sm-4 sidebar">
        <div class="tell-box">
          <a class="tell fas fa-phone" href="tel:08061599312">03-6220-1819</a>
          <!-- スマホのときのみ発信できるように書き換える -->
        </div>
        <div class="address-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">所在地</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text">東京都江東区豊洲1－3－1 キャナルワーフタワーズイーストタワー１F</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="date-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">開所時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text">月～土曜日　7:00~20:00</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="capacity-box box ohana">
          <table class="box-table">
            <thead>
              <tr>
                <th class="center-text h4">定員</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text">40人</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="price-box box ohana">
          <h4 class="h4 center-text price-h4">保育料</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th ></th>
                <th class="center-text">例)週5/1日10時間の場合</th>
              </tr>
              <tr>
                <th class="price-th center-text">０歳</th>
                <td class="center-text">74,000円</td>
              </tr>
              <tr>
                <th class="price-th center-text">1歳</th>
                <td class="center-text">70,000円</td>
              </tr>
              <tr>
                <th class="price-th center-text">2歳</th>
                <td class="center-text">70,000円</td>
              </tr>
              <tr>
                <th class="price-th center-text">3歳</th>
                <td class="center-text">64,000円</td>
              </tr>
              <tr>
                <th class="price-th center-text">4歳</th>
                <td class="center-text">64,000円</td>
              </tr>
              <tr>
                <th class="price-th center-text">5歳</th>
                <td class="center-text">64,000円</td>
              </tr>
            </thead>
          </table>
          <p>※上記はあくまで一例です。費用に関する詳細は、保育園に直接お問い合わせください。</p>
        </div>

      </div>

    </div>
  </div>
</div>