<div class="body-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 sidebar">
        <div class="todo-box">
          <h3 class="h3">To Do</h3>
          <ul>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">ゆらりん豊洲に電話</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">メリーポピンズ待機更新</span>
              </label>
            </li>
            <li class="side-item">
              <label>
                <input type="checkbox" name="checkbox01[]" class="checkbox01-input">
                <span class="checkbox01-parts">保育課に問い合わせ</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="memo-box">
          <h3 class="h3">メモ</h3>
          <ul>
            <li>時短だと点数が下がる？→要確認</li>
            <li>メリーポピンズ：2か月おきに電話で待機更新</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-8 list-content">
        <div class="list-head">
          <h2 class="h2">マイリスト</h2>
        </div>
        <div class="list-a-box">
          <a class="list-a" href="">並べ替え</a>
        </div>
        <div class="item-box">
          <table class="table">
            <thead>
              <tr class="center-text">
                <th></th>
                <th>保育園名</th>
                <th></th>
                <th>所在地</th>
                <th>電話番号</th>
                <th>家からの距離</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-text">1</td>
                <td class="center-text">シンフォニア保育園</td>
                <td class="center-text">認可</td>
                <td class="center-text">江東区豊洲</td>
                <td class="center-text">data</td>
                <td class="center-text">data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
