/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


/*----------------------------------------------------共通部分----------------------------------------------------*/
/*コンテンツ幅:1080px*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:#546E7A;
  font-size:12px;
  letter-spacing: .1em;
  text-align:justify;
}
ul{
  margin-bottom:0;
}
a{
  color:#546E7A;
  text-decoration:none;
/*  position: relative;*/
}
a:hover{
  color:#FFD731;
  text-decoration:none;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
}
button{
  // 背景色を黒に指定
  background-color: #fff;
  // submitボタンのを枠を非表示にする
  border-style: none;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}


/*.h1{
  font-size:20px;
}*/
.h2{
  font-size:18px;
  font-weight:600;
}
.h3{
  font-size:15px;
  font-weight:600;
}
.h4{
  font-size:14px;
  font-weight:600;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}
/*header----------------------------------------------------*/
.header{
  width:100%;
  height:120px;
  background-color:#fff;
  // position: fixed;
  z-index:5;
  // border-bottom:solid 1px #eaeaea;
  box-shadow: 0px 9px 7px -7px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 9px 7px -7px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 9px 7px -7px rgba(0,0,0,0.1);
}
.header-n{
  display:none;
}
.header-nn{
  display:none;
}
.header-area{
  // height:120px;
}
// ↑headerの固定のために作ったdivとclass

.header-content{
  width:1080px;
  margin:0 auto;
  padding-top:15px;
  // line-height: 100px;
}
.welcome{
  font-weight:600;
  width:100%;
}
.welcome-p{
  color:#acbfc6;
  text-align:right;
}
.logo-box{
  padding: 0.2em 0.5em;
  margin: 0em 0;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  border-radius:10px;
  float:left;
}
.header-logo{
  // background-image: url(img/logo.png);
  // background-size:cover;
  // background-position: center;
  color:#fff;
  font-size:25px;
  font-weight:600;
  margin: 0;
  padding: 0;
  border-radius:10px;
}

.list{
  list-style-type: none;
  // line-height:10px;
  float:right;
}
.item{
  float:left;
  margin:0 10px;
  position:relative;
}
.item-a{
  display:block;
  width:100px;
  text-align:center;
  font-size:30px;
  color:#9AB1B7;
}
.a1::after{
  content: "スポット登録";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 40px;
  left:-3px;
}
.a2::after{
  content: "マイリスト";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 40px;
  left:10px;
}
.a3::after{
  content: "マイページ";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 40px;
  left:8px;
}
.a4::after{
  content: "ログイン";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:15px;
}
.a5::after{
  content: "新規登録";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:12px;
}
.a6::after{
  content: "About";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:16px;
}
.a7::after{
  content: "＋保育園";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:10px;
}
.a8::after{
  content: "ユーザー's";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:10px;
}
.a9::after{
  content: "ログアウト";
  font-size:14px;
  font-weight:600;
  position:absolute;
  top: 35px;
  left:7px;
}
.mypage{
  position: relative;
}
.mypage-ul{
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
}
.mypage-ul{
  background-color: #fff;
  z-index:10;
  margin-top:30px;
  width:200px;
  list-style-type:none;
  border-radius:20px;
  box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
}
.mypage-li{
  text-align:center;
  line-height:60px;
  z-index:11;
}
.li-gray{
  background-color: #f7f7f7;
  border-radius:20px 20px 0 0;
}
.mypage-a{
  color:#9AB1B7;
  width:150px;
  margin:0 auto;
  line-height:15px;
  margin-top:10px;
}

.welcome{

}
/*検索--------------------------------------------------*/
.index-header{
  // width:100%;
  // margin:0 auto;
  // border-bottom:solid 1px #eaeaea;
}

.search-box{
  margin:5px 0;
  position:relative;
}
.sbox{
  height:50px;
  padding:0 10px;
  float:left;
  width:250px;
  border-radius:25px 0 0 25px;
  border:solid 2.5px #eaeaea;
  outline: 0;
}
.sbox-2{
  height:50px;
  padding:0 10px;
  float:left;
  width:100px;
  border:none;
  border-top:solid 2.5px #eaeaea;
  border-bottom:solid 2.5px #eaeaea;
  outline: 0;
}
.sbtn{
  height: 50px;
  padding:0 10px;
  display:block;
  float:left;
  background:#7fbfff;
  color:#fff;
  border:none;
  font-size:20px;
  border-radius:0 25px 25px 0;
  outline: 0;
  width:50px;
}
.sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

.mushimegane{
  position: absolute;
  left:380px;
  top: 18px;
}


/*メインの幅---------------------------------------*/
.body-content{
  width:1080px;
  margin:20px auto;
  line-height:1.65;
}
#notice{
  font-size: 18px;
  font-weight:700;
  color: #5858FA;
  border-bottom: #5858FA;
}

/*footer--------------------------------------------*/
.footer-wrapper{
  background-color:#218F9B;
  margin-top:20px;
  height:400px;
  width:100%;

}

.footer-content{
  width:1080px;
  margin:0 auto;
}
.footer-box{
  margin-top:10px;
}
.footer-item{
  display:block;
  color:#fff;
  border:dashed 1px #fff;
  padding:10px;
  text-align:center;
  margin:20px;
  font-weight:600;
}

.footer-item:hover{
  color:#218f9b;
}
.copyright{
  // color:#fff;
  // margin-top:200px;
}
.footerimg{
  background-image: url(footerimg.png);
  background-size: contain;
  background-repeat: no-repeat;
  width:550px;
  height:400px;
  margin:0 auto;
}

/*サイトバー----------------------------------------------------------*/
// .sidebar-box{
//   margin:30px 0;
// }
// .side-list{
//   list-style-type: none;
//   line-height:30px;
// }
// .side-item{
//   margin:0 10px;
//   display:block;
// }
/*アバウト--------------------------------------------*/
.img-area{
  position:relative;
}
.about-text{
  position:absolute;
  top:40%;
  width:100%;
  height:70px;
  text-align:center;
  color:#fff;
  font-family:'SimSun','serif','ＭＳ 明朝';
  text-shadow: 2px  2px 5px #f95f92,
            -2px  2px 5px #f95f92,
             2px -2px 5px #f95f92,
            -2px -2px 5px #f95f92;
}
.about-h1{
  text-align:center;
  font-size:30px;
  font-weight:600;
}

.about-h1-2{
  text-align:center;
  font-size:30px;
  font-weight:600;
}
.about-img{
  background-image: url(about1.png);
  background-size: cover;
  background-position:0 -300px;
  background-repeat: no-repeat;
  width:100%;
  height:400px;
}
.about-box{
  width:100%;
  margin:0 auto;
  margin-top:100px;
  text-align:center;
}
.about-box-p{
  text-align:center;
}
.about-img1{
  background-image: url(about-1.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}
.about-img2{
  background-image: url(about-2.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}
.about-img3{
  background-image: url(about-3.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}

.about-img4{
  background-image: url(about-4.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}

.about-img5{
  background-image: url(about-5.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}
.about-img6{
  background-image: url(about-6.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}

.about-img7{
  background-image: url(about-7.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height:600px;
}

/*メインコンテンツ--------------------------------------------*/
.nursery-area{
  width:100%;
  margin:50px 0;
}
.nursery-area-head{
  font-weight:600;
  margin:10px 0;
  border-bottom: double 5px #4ec4d3;
}
.nursery-area-list{
  padding:10px 0;
}
#map {
        height: 600px;
        width: 100%;
      }

// カテゴリー選択ボタン
.category{
  display:block;

}
.list-cate{
  list-style-type: none;
  float:left;
}
.item-cate{
  float:left;
  margin:0 10px;
}

// ルート検索
.route{
  // width:1060px;
  height:100px;
}
.list-route{
  list-style-type: none;
}
.item-route{
  display:block;
  width:200px;
  height:50px;
  float:left;
  margin:0 10px;
  font-size:15px;
  text-align: center;
  line-height: 50px;
  border:solid 2px #eaeaea;
  border-radius:10px;
  margin:20px;
}



/*保育園詳細------------------------------------*/
.show-header{
  height:100px;
  position:relative;
}
.show-header:after {
content: "";
position: absolute;
left: 0;
bottom: -7px;
width: 100%;
height: 10px;
background: -webkit-repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
background: repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
}
.s{
  position:relative;
}
.s:hover{
  color:#FFD731;
}
.hukidasi{
  display:none;
  position:absolute;
  top:-60px;
  width:200px;
  height:50px;
  background-color:#f95f92;
  border-radius:80px;
  color:#fff;
  font-weight:500;
  font-size:13px;
  line-height:50px;
  text-align:center;
  z-index:12;
}
.hukidasi:after {
  content: '';
  position: absolute;
  border-top: 10px solid #f95f92;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -9px;
  left: 30px;
}
.n-add-box{
  display:none;
}
.addlist{
  display:block;
  float:right;
  margin-right:20px;
  font-size:25px;
  color:#5EE1EF;
  margin-top:60px;
}
.addlist::after{
  content:'マイリストに追加';
  font-size:15px;
  font-weight:600;
}
.addlist2{
  display:block;
  float:right;
  margin-right:20px;
  font-size:25px;
  color:#f95f92;
  margin-top:60px;
}
.addlist2::after{
  content:'マイリストに追加済み';
  font-size:15px;
  font-weight:600;
}
.addlist2::hover{
  color:#f95f92;
}
.cate-logo{
  padding: 0.2em 0.5em;
  margin: 0 10px;
  margin-top:15px;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 5px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 50%;
  width:70px;
  height:70px;
}
.cate{
  margin: 0;
  padding: 0;
  text-align:center;
  line-height: 60px;
}
.f{
  float:left;
}

.show-main{
  margin-top:40px;
}
.main-img{
  height:300px;
/*  margin:0 auto;*/
}
.head-p{
  line-height:15px;
}
.show-head-n{
  display:none;
}
.concept-detail{
  margin-top:10px;
  font-size:15px;
  padding:5px 10px 5px 15px;
  border-left:solid 5px #FFD731;
}
.map-area{
  margin:10px 0;
}


.tell-box{
  margin:0 auto;
  height:50px;
  width:250px;
  background-color:#FFFC9C;
  text-align:center;
  border-radius:10px;
}
.tell{
  margin-top:15px;
  font-size:20px;
  font-weight:600;
}
.tell:hover{
  color:#ACBFC6;
}
.box{
  margin:30px 0;
}
.box-table{
  line-height:25px;
  width:250px;
  margin:0 auto;
}
.center-text{
  text-align:center;
}
.ohana{
  background-image:url(ohana.png);
  background-size:15%;
  background-repeat: no-repeat;
  background-position: 60% 0;
}
.date-box{
}
.date-list{
  list-style-type: none;
}
.date-item{
  margin:0 10px;
  float:left;
}
.price-box{
  width:250px;
  margin:0 auto;
}
.price-h4{
  padding-bottom:10px;
}
.price-th{
  width:25%;
}

// 保育園新規追加・編集
.n-form{
  margin-top:50px;
}
.n-check{
  margin-left:30px;
}
.check-span{
  font-size:13px;
  color:#f95f92;
  font-weight:600;
}
.phone-form{
  width:30%;
  float:left;
}
.haihun{
  float:left;
  font-size:20px;
  margin:3px;
}
.phone-notice{
  // display:block;
  // width:150px;
}
/*マイリスト一覧　list-item/index*/
.list-head{
  position:relative;
}
.list-item{
  margin-top:50px;
}
.list-head:after {
content: "";
position: absolute;
left: 0;
bottom: -7px;
width: 100%;
height: 10px;
background: -webkit-repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
background: repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
}
.list-a-box{
  text-align:right;
}
.mylist-a::hover{
  color:#FFD731;
  text-decoration: none;
}
.memo{
  margin-top:30px;
}
.memo-form{
  width:100%;
  height:500px;
  padding: 0.5em 1em;
  border: double 5px #4ec4d3;
}
.roworder{
  width:40px;
  border-radius:5px;
  padding:3px;
}
.sidebar-wide {
  display:block;
  }
.sidebar-narrow {
   display:none;
}
/*user-show edit*/
.prof-head{
  position:relative;
}
.prof-head:after {
content: "";
position: absolute;
left: 0;
bottom: -7px;
width: 100%;
height: 10px;
background: -webkit-repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
background: repeating-linear-gradient(-45deg, #67d1d6, #67d1d6 2px, #fff 2px, #fff 4px);
}
.user-box{
  width:500px;
  margin:0 auto;
  margin-top:30px;
}
.user-box-t{
  width:500px;
  margin:0 auto;
  background-color:#fffc9c;
  border-radius:100px;
  padding:5px 0;
}
.user-box-m{
  width:500px;
  margin:0 auto;
  background-color:#ffdce1;
  border-radius:100px;
  padding:5px 0;
  padding-top:50px;
}
.user-box2{
  width:500px;
  margin:0 auto;
  margin-top:50px;
}
.user-box3{
  width:500px;
  margin:0 auto;
  margin-top:50px;
}
.user-box4{
  width:500px;
  margin:0 auto;
  margin-bottom:200px;
  padding-top:50px;
}
.box-1{
  width:150px;
  margin:0 auto;
  margin-top:30px;
}
.box-2{
  width:300px;
  margin:0 auto;
  margin-top:50px;
}
.box-3{
  width:300px;
  margin:0 auto;
  margin-top:50px;
}
.prof-btn-area{
  margin:50px;
  text-align:center;
}
.prof-btn:hover{
  background-color:#ededed;
  color:#546e7a;
}
.prof-btn3{
  border-radius:5px;
  background-color:#dddddd;
  color:#546e7a;
}
.prof-btn3:hover{
  background-color:#ededed;
  color:#546e7a;
}
.prof-btn4{
  padding:5px 10px;
  font-size:15px;
  border:solid 1.5px #f95f92;
  border-radius:5px;
  background-color:#fff;
  color:#f95f92;
}
.prof-btn4:hover{
  border-color:#FFD731;
}
.user-info1{
  text-align:center;
  font-weight:600;
}
.user-info{
  text-align:center;
}
.user-message{
  display:none;
  position:absolute;
  top:50px;
  left:90px;
  height:50px;
  font-size:13px;
  line-height:20px;
}
.message-box{
  height:80px;
  width:225px;
}

// スポット登録、編集、一覧画面

.spot-new{
  margin:40px 0;
}
.spot-new-list1{
  width:20%;
  float:left;
}
.spot-new-list2{
  width:20%;
  float:left;
}
.spot-new-list3{
  width:20%;
  float:left;
}
.spot-new-list4{
  width:20%;
  float:left;
}
.spot-new-list4{
  width:20%;
  float:left;
}

/* タブレット横置き(1024px)程度の大きさ以下に適用される設定です */
@media screen and (max-width:1024px) {
  .header-content{
    width:100%;
  }
  .body-content{
    width:100%;
  }
  .n-add-box{
  display:block;
  margin-top:20px;
  font-weight:600;
  font-size:15px;
}
.l-add-box{
  display:none;
}
.footer-content{
  width:100%;
}
.footerimg{
  width:60%;
  height:300px;
}
.about-img{
  background-image: url(about2.png);
  background-size: cover;
  background-position:0 -300px;
  background-repeat: no-repeat;
  width:100%;
  height:600px;
}
}

/* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:992px) {
  #map{
    margin-top:10px;
  }
.sidebar-wide {
  display:none;
  }
.sidebar-narrow {
  display:block;
  }

  .logo-box{
    float:none;
    margin:20px 0;
  }

.list{
  float:none;
}

.header{
  display:none;
}
.header-n{
  display:block;
  height:200px;
}

.n-box{
  width:100%;
  background-color: #fff;
}
.logo-box{
  // padding: 0.2em 0.5em;
  margin: 0em 0;
  // background: #d6ebff;
  box-shadow:none;
  border:none;
}
.n-nav{
  margin-top:10px;
  height:65px;
  width:480px;
  margin:10px auto 20px auto;
  border-bottom:dashed 1px #CCC;
}

.search-box{
  width:400px;
  margin:0 auto;
  margin-top:20px;
}
.sbox{
  height: 40px;
  // padding:0 10px;
  // float:left;
  // width:250px;
  // border-radius:25px 0 0 25px;
  // border:solid 2.5px #eaeaea;
  // outline: 0;
}
.sbox-2{
  height: 40px;
  // padding:0 10px;
  // float:left;
  // width:100px;
  // border:none;
  // border-top:solid 2.5px #eaeaea;
  // border-bottom:solid 2.5px #eaeaea;
  // outline: 0;
}
.sbtn{
  height: 40px;
  // padding:0 10px;
  // display:block;
  // float:left;
  // background:#7fbfff;
  // color:#fff;
  // border:none;
  // font-size:20px;
  // border-radius:0 25px 25px 0;
  // outline: 0;
  // width:50px;
}
.mushimegane{
  // position: absolute;
  left:370px;
  top: 15px;
}
// .item{
//   float:left;
//   margin:0 10px;
//   position:relative;
// }
.item-a{
  display:block;
  width:100px;
  // text-align:center;
  // font-size:30px;
  // color:#9AB1B7;
}
.a1::after{
  // content: "スポット登録";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:-3px;
}
.a2::after{
  // content: "マイリスト";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:10px;
}
.a3::after{
  // content: "マイページ";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:8px;
}
.a4::after{
  // content: "ログイン";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:15px;
}
.a5::after{
  // content: "新規登録";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:12px;
}
.a6::after{
  // content: "About";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:16px;
}
.a7::after{
  // content: "＋保育園";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:10px;
}
.a8::after{
  // content: "ユーザー's";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:10px;
}
.a9::after{
  // content: "ログアウト";
  // font-size:14px;
  // font-weight:600;
  // position:absolute;
  top: 37px;
  // left:7px;
}
.welcome{
  // position:absolute;
  // top:10px;
  // left:500px;
  font-weight:600;
  width:100%;
}
.welcome-p{
  color:#acbfc6;
  text-align:right;
}
.h1{
  font-size:20px;
  font-weight:600;
}
.show-head{
  display:none;
}
.show-head-n{
  display:block;
}
.addlist{
  margin-right:0px;
  font-size:25px;
  color:#5EE1EF;
  margin-top:60px;
}
.addlist::after{
  content:'マイリストに追加';
  font-size:15px;
  font-weight:600;
}
.addlist2{
  display:block;
  float:right;
  margin-right:20px;
  font-size:20px;
  color:#f95f92;
  margin-top:0px;
}
.addlist2::after{
  content:'マイリストに追加済み';
  font-size:12px;
  font-weight:600;
}
.addlist2::hover{
  color:#f95f92;
}
.footer-content{
  width:100%;
}
.footerimg{
  width:60%;
  height:300px;
}
.about-img{
  background-image: url(about2.png);
  background-size: cover;
  background-position:0 -300px;
  background-repeat: no-repeat;
  width:100%;
  height:800px;
}

}

/* スマートフォンサイズ(425px)程度の画面の大きさ以下に適用される設定です */
@media screen and (max-width:425px) {
  #map{
    margin-top:20px;
  }
.header-n{
  display:none;
}
.header-nn{
  display:block;
  height:230px;
}
.n-box{
  width:100%;
  background-color: #fff;
}
.header-logo{
  font-size:20px;
}
.n-nav{
  height:50px;
  width:380px;
}
.n-nav{
  margin:10px auto;
}

.search-box{
  // margin-left:10px;
}
.item-a{
  width:75px;
  font-size:25px;
  color:#9AB1B7;
}
.a1::after{
  // content: "スポット登録";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:0px;
}
.a2::after{
  // content: "マイリスト";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:6px;
}
.a3::after{
  // content: "マイページ";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:6px;
}
.a4::after{
  // content: "ログイン";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:12px;
}
.a5::after{
  // content: "新規登録";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:8px;
}
.a6::after{
  // content: "About";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:14px;
}
.a7::after{
  // content: "＋保育園";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:4px;
}
.a8::after{
  // content: "ユーザー's";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:4px;
}
.a9::after{
  // content: "ログアウト";
  font-size:10px;
  // font-weight:600;
  // position:absolute;
  top: 28px;
  left:6px;
}
.search-box{
  width:250px;
  margin:0 auto;
  // margin-top:20px;
}
.sbox{
  height: 30px;
  // padding:0 10px;
  float:none;
  // width:250px;
  border-radius:25px;
  // border:solid 2.5px #eaeaea;
  // outline: 0;
  display:block;
}
.sbox-2{
  height: 30px;
  // padding:0 10px;
  float:left;
  // width:100px;
  // border:none;
  // border-top:solid 2.5px #eaeaea;
  // border-bottom:solid 2.5px #eaeaea;
  // outline: 0;
  border-radius:25px;
  display:block;
}
.sbtn{
  height: 30px;
  width:80px;
  padding:0 10px;
  // display:block;
  float:none;
  background:#7fbfff;
  // color:#fff;
  border:none;
  border-radius:25px;
  font-size:20px;
  // outline: 0;
  width:150px;
  margin:0 auto;
}
.mushimegane{
  position: absolute;
  left:120px;
  top: 95px;
}

/*チェックボックス--------------------------------*/
.radio-button{
  margin:15px 0;
  text-align:center;
}
.checkbox01-input{
  display: none;
}
.checkbox01-parts{
  padding: 5px 15px;
  position:relative;
  border: 2px solid #9AB1B7;
  border-radius: 20px;
  background-color:#9AB1B7;
  color: #fff;
  // margin-right: 20px;
}
// .checkbox01-parts::before{
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 15px;
//   height: 15px;
//   border: 1px solid #999;
//   border-radius: 4px;
// }
.p1{
  padding-right:20px;
  padding-left:20px;
}
.checkbox01-input:checked + .checkbox01-parts{
  background-color: #fff;
  color: #ffa9af;
  border-color: #ffa9af;
}
// .checkbox01-input:checked + .checkbox01-parts::after{
//   content: "";
//   display: block;
//   position: absolute;
//   top: -5px;
//   left: 5px;
//   width: 7px;
//   height: 14px;
//   transform: rotate(40deg);
//   border-bottom: 3px solid #009a9a;
//   border-right: 3px solid #009a9a;
// }
.h1{
  font-size:15px;
}
.footerimg{
  width:100%;
  height:300px;
}
.about-img{
  background-image: url(about2.png);
  background-size: cover;
  background-position:0 -300px;
  background-repeat: no-repeat;
  width:100%;
  height:800px;
}
}
